[Desktop Entry]
Name=KokoroBox
Exec=sparkle %U
Terminal=false
Type=Application
Icon=sparkle
StartupWMClass=sparkle
MimeType=x-scheme-handler/clash;x-scheme-handler/mihomo;x-scheme-handler/sparkle;x-scheme-handler/kokoro;
Comment=KokoroBox
Categories=Utility;
