node_modules
resources/files
resources/sidecar
extra
dist
out
.DS_Store
*.log*
.idea
*.ttf

# Apple signing and notarization credentials
*.p12
*.pfx
*.p8
*.keychain
*.keychain-db
*.mobileprovision
*.provisionprofile
